<article class="maid">
    <div class="title">
        {{ name }}
    </div>
    <div class="meta">
        <a href="/maid/{{id}}">{{reviews.length}} {{format_plural "review" review.length}} </a>
    </div>
</article>