<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Squeaky Cleaners</title>
  <link rel="stylesheet" href="../stylesheets/{{style}}">


</head>
<body>
      <!-- nav section-->
    <header>
      <nav>
        <div class="nav">
          <ul class="nav-ul">
            {{#if loggedIn}}
              <li><a href="/" id="logout">Logout</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="#my-reviews">My Reviews</a></li>
            {{else}}
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#reviews">Reviews</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <!-- footer -->
    <footer class="footer">
      
      <div class="footer-credits">
        Made by Alexis El Armani, Hilliard Stamper, Ivy Do
      </div>
    </footer>
    {{#if loggedIn}}
      <script src="../javascript/logout.js"></script>
      {{/if}}
    </body>
</html>