<body>
    <!-- hero section -->
    <div class="hero">
      <img class="hero-img" src="/assets/banner-2.png" alt="cleaning-banner" />
    </div>
    <!-- about section -->
    <div class="about-section" id="about">
      <div class="about-info">
        <div class="about-header">
<img src="/assets/dusting.png" alt="man-dusting">
          <br />
        </div>
        <div>
          <hr />
        </div>

        <div class="about-p">
          <p class="about-p-text">
            Every living space deserves a thorough cleaning that you can see and
            feel. Our seasoned professionals know where to look and have the
            processes and techniques that will bring the shine and sparkle to
            every inch of your apartment or condo.
            {{!-- <br />Schedule your free estimate today! <br />
            <button class="btn">Free Estimate</button> --}}
          </p>
        </div>
        <hr>

        <div class="about-images">
          <div class="about-content">
            <div class="about-description">
              <p class="p-text">
                Squeaky Cleaners has been providing cleaning solutions to fit the needs
                and busy lifestyles of our clients. Our friendly professionals
                strive to earn your loyalty every time we clean, which is why we
                make setting up house cleaning services as easy as can be. Whether
                you are looking to request services one time or create a routine
                cleaning plan, you'll never have to worry about signing a
                contract.
              </p>
            </div>

          <div><img
            class="about-img-1"
            src="/assets/cleaning-lady.png"
            alt="woman cleaning windows"
          /></div>
        </div>
      </div>
    </div>
    </div>
    <!-- reviews sections -->
    <div class="reviews-section" id="reviews"> 
      <div class="reviews-content"> <div class="reviews-header-div">
        <h2 class="reviews-header">Hear From Our Clients</h2>
      </div>

      <div class="reviews-p">
        <p class="review-p-text">
          “I loved coming home to a clean, fresh smelling home and being able to
          relax and spend time with my family instead of worrying about cobwebs.
          Thank you so much!”<br />
          - Sarah McKinley, FL
        </p>
      </div>

      {{!-- <div class="review-btn-div">
        <button class="btn">Leave Review</button>
      </div></div> --}}
    
    </div>
  </body>