<head>
    <link rel="stylesheet" href="/../stylesheets/schedule.css">

</head>
<div class="link">
        <a href="/dashboard" class="link"> &larr; Back to dashboard</a>

</div>
<article class="schedule">


    <div class="title">
        {{ maid.name}}
    </div>

    <div class="meta">
        Availability
        <div class="calendar-container">
            <img src="/../assets/test-schedule.png" alt="calendar" class="calendar" />
        </div>
    </div>

    {{!-- show calendar and insert photo of week with time/day avaiable --}}



</article>