{{!-- Show maid name and review qty --}}
<div class="banner">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <img src="../assets/reviews-banner.gif" class="reviews-banner">

</div>

<div class="main-container">
    <article class="maid">
        <div class="title">
            <h2>{{ maid.name }}</h2>
        </div>

        <div class="meta">
            Review(s)
        </div>

        {{!-- add review form --}}
        {{#if loggedIn}}
        <form class="review-form">
            <div>
                <label for="review-title">Title:</label>
                <input type="text" name="review-title" id="review-title">
            </div>
            <div>

                <label for="review-body">Review:</label>
                <textarea name="review-body"></textarea>
            </div>

            <div>
                <button class="btn" type="submit">Post Review</button>
            </div>
        </form>
        {{/if}}
    </article>

</div>


{{!-- reviews displayed connected to maid --}}
<div class="second-container">
    <div class="reviews">
    <h2>Reviews</h2>
    {{#each maid.reviews}}
    <section class="review">
        <div class="meta">
            {{!-- need something here to make reviews drop cant be words or they repeat on screen.
            just leaving this for now for to show how it should look --}}
            <br>
        </div>

        <div class="text">
            <ul>
                <li>
                    <strong>{{title}}</strong> <em>{{review_text}}</em> <small>{{user.username}}</small>
                </li>
            </ul>
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="../javascript/review.js"></script>
{{/if}}
</div>
</div>
