/* general styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(227, 232, 248);
}



.reviews-banner {
  width: 100%;
}

/* nav */
nav {
  display: flex;
}

.nav {
  position: fixed;
  background-color: #333;
  width: 100%;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Source Sans Pro";
}

li {
  float: left;
}

.nav a {
  padding: 16px 18px;
}

.nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

li a:hover {
  background-color: #7c717c;
}

/* maid section */

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin-bottom: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.maid {
  margin: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
}

.title {
  font-family: Lato;
  font-size: 24px;
	color: #f95f9f; 
}

.meta {
  font-family: Lato;
  padding: 5px 0;
  font-size: 18px;
	color: #ec9613; 
}

a {
  text-decoration: none;
  font-family: "Lato";
}

input, label {
  display:block;
  font-family: "Lato";
  padding: 5px;
}


textarea {
  width: 100%;
}

.btn {
  width: 160px;
  height: 41px;
  padding: 0px 10px 0px 10px;
  background: #262e68;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px 1px 1px 1px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

h2 {
    font-family: Lato;
    padding: 5px 0;
    font-size: 32px;
    color: #f7610a; 
}

.reviews {
  font-family: Lato;
  /* margin: 20px 0; */
  font-size: 18px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  padding: 20px;
}

.reviews h2 {
  text-align: center;
}

li {
list-style: none;
}





  /* footer section */
  .footer-credits {
    width: 100%;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
  }

